<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.today.todaymovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/todaymovie"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/todaymovie_round"

        android:supportsRtl="true"
        android:theme="@style/Theme.Retrofit"
        android:usesCleartextTraffic="true"



        >
        <activity android:name="com.today.todaymovie.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.today.todaymovie.MainActivity">

        </activity>
    </application>

</manifest>